.navbar-fixed {
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            transition: top 0.3s;
        }

        .navbar-scroll-hide {
            top: -80px; /* Adjust this value based on your navbar height */
        }

        .content {
            height: 2000px;
        }


    .scrollable-container {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            width: 100%;
        }

        .scrollable-card {
            width: 350px;
            height: 300px;
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
            position: relative;
        }

        .scrollable-card .card-body {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10%;
        }